* {
  font-family: "Do Hyeon", sans-serif;
}

.navbar-brand {
  -right: 20px;
}

.navClass {
  z-index: 10;
}

.theme-selector {
  color: white;
  margin: auto;
  width: fit-content;
  border: 3px solid #500681;
  background-color: #000000;
  opacity: 0.9;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.jumbotron-fluid {
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.heroContainer {
  height: 100vh;
}

.hello {
  opacity: 1;
}

.textBox {
  margin: auto;
  width: fit-content;
  padding: 130px;
  border: 30px solid #500681;
  background-color: #000000;
  color: white;
  opacity: 0.9;
  margin-bottom: 20px;
}

.main-jumbo {
  background-image: url("./images/denverSkyline.jpg");
  background-attachment: fixed;
  z-index: 1;
}

.infoList {
  list-style: none;
}
